body{
  background-color:#96DCF3;
}
h2{
  color: #132062;
}
h4{
  color: #132062;
}
p{
  color: #132062;
}
.game-bg {
  position: relative;
  top: 0;
  left: 0px;
}
.tower {
  position: absolute;
  top: 50px;
  left: 249px;
}
.bird {
  position: absolute;
  top: 30px;
  left: 90px;
}
.sun {
  position: absolute;
  top: -10px;
  right: 250px;
}
.squirrel {
  position: absolute;
  top:510px;
  right:280px;
}
.dog {
  position: absolute;
  top:475px;
  left:170px;
}
.sam {
  position:absolute;
  top: 450px;
  left: 500px;
  filter:contrast(130%);
}
.opa:hover {
  opacity: .9;
}
button {
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline: none;
    }
